MidnightAtMortys/Saved/Telemetry/Telemetry.json
MidnightAtMortys/Saved/Telemetry/Telemetry.json
*.json
MidnightAtMortys/Saved/Autosaves/Game/Assets/WALLS_AND_FLOORS/WALLS_AND_BOTTOM_FLOOR/WALL/wall_retextured_no_white_line_across-20250410T140923Z-001/wall_retextured_no_white_line_across/wall_standardSurface1_BaseColor_Auto6.uasset
MidnightAtMortys/Saved/Autosaves/Game/Assets/WALLS_AND_FLOORS/WALLS_AND_BOTTOM_FLOOR/WALL/wall_retextured_no_white_line_across-20250410T140923Z-001/wall_retextured_no_white_line_across/wall_standardSurface1_Normal_Auto6.uasset
MidnightAtMortys/Saved/Autosaves/Game/Assets/WALLS_AND_FLOORS/WALLS_AND_BOTTOM_FLOOR/WALL/wall_retextured_no_white_line_across-20250410T140923Z-001/wall_retextured_no_white_line_across/wall_standardSurface1_OcclusionRoughnessMetallic_Auto6.uasset
