MidnightAtMortys/Saved/Telemetry/Telemetry.json
MidnightAtMortys/Saved/Telemetry/Telemetry.json
*.json
MidnightAtMortys/Saved/Autosaves/Game/Assets/WALLS_AND_FLOORS/WALLS_AND_BOTTOM_FLOOR/WALL/wall_retextured_no_white_line_across-20250410T140923Z-001/wall_retextured_no_white_line_across/wall_standardSurface1_BaseColor_Auto6.uasset
MidnightAtMortys/Saved/Autosaves/Game/Assets/WALLS_AND_FLOORS/WALLS_AND_BOTTOM_FLOOR/WALL/wall_retextured_no_white_line_across-20250410T140923Z-001/wall_retextured_no_white_line_across/wall_standardSurface1_Normal_Auto6.uasset
MidnightAtMortys/Saved/Autosaves/Game/Assets/WALLS_AND_FLOORS/WALLS_AND_BOTTOM_FLOOR/WALL/wall_retextured_no_white_line_across-20250410T140923Z-001/wall_retextured_no_white_line_across/wall_standardSurface1_OcclusionRoughnessMetallic_Auto6.uasset
MidnightAtMortys/Saved/Telemetry/Telemetry.json
MidnightAtMortys/Saved/Autosaves/Game/Night_Of_The_Dead___HORROR_AMBIENCE___3_Hours_Auto1.uasset
MidnightAtMortys/Saved/Night_Of_The_Dead___HORROR_AMBIE11CA2A5749D8018DBC988E9A0D24E226.tmp
MidnightAtMortys/Saved/Night_Of_The_Dead___HORROR_AMBIEB06636D146D2841F3F5E1083E231B56E.tmp
